<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12 blog-page">
                <div class="row">
                    <div class="col-md-8 col-sm-7 article-block">
                        <div class="row">
                            <div class="col-md-4 blog-img blog-tag-data">
                                <img src="../../assets/admin/pages/media/gallery/image4.jpg" alt="" class="img-responsive">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <a href="#">
                                            April 16, 2013 </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-comments"></i>
                                        <a href="#">
                                            38 Comments </a>
                                    </li>
                                </ul>
                                <ul class="list-inline blog-tags">
                                    <li>
                                        <i class="fa fa-tags"></i>
                                        <a href="#">
                                            Technology </a>
                                        <a href="#">
                                            Education </a>
                                        <a href="#">
                                            Internet </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 blog-article">
                                <h3>
                                    <a href="page_blog_item.html">
                                        Hello here will be some recent news.. </a>
                                </h3>
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                </p>
                                <a class="btn blue" href="page_blog_item.html">
                                    Read more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 blog-img blog-tag-data">
                                <img src="../../assets/admin/pages/media/gallery/image3.jpg" alt="" class="img-responsive">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <a href="#">
                                            April 16, 2013 </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-comments"></i>
                                        <a href="#">
                                            38 Comments </a>
                                    </li>
                                </ul>
                                <ul class="list-inline blog-tags">
                                    <li>
                                        <i class="fa fa-tags"></i>
                                        <a href="#">
                                            Technology </a>
                                        <a href="#">
                                            Education </a>
                                        <a href="#">
                                            Internet </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 blog-article">
                                <h3>
                                    <a href="page_blog_item.html">
                                        Hello here will be some recent news.. </a>
                                </h3>
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                </p>
                                <a class="btn blue" href="page_blog_item.html">
                                    Read more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 blog-img blog-tag-data">
                                <img src="../../assets/admin/pages/media/gallery/image4.jpg" alt="" class="img-responsive">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <a href="#">
                                            April 16, 2013 </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-comments"></i>
                                        <a href="#">
                                            38 Comments </a>
                                    </li>
                                </ul>
                                <ul class="list-inline blog-tags">
                                    <li>
                                        <i class="fa fa-tags"></i>
                                        <a href="#">
                                            Technology </a>
                                        <a href="#">
                                            Education </a>
                                        <a href="#">
                                            Internet </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 blog-article">
                                <h3>
                                    <a href="page_blog_item.html">
                                        Hello here will be some recent news.. </a>
                                </h3>
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                                </p>
                                <a class="btn blue" href="page_blog_item.html">
                                    Read more <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end col-md-9-->
                    <div class="col-md-4 col-sm-5 blog-sidebar">
                        <div class="tabbable tabbable-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1_1">
                                        Đăng nhập </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Đăng ký </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab_1_1" class="tab-pane active">
                                    <form class="form-horizontal" role="form" name="login_form" ng-submit="login()" novalidate>
                                        <div class="form-group">
                                            <label for="inputEmail12" class="col-md-3 control-label">Email</label>
                                            <div class="col-md-9">
                                                <div class="input-icon">
                                                    <i class="fa fa-envelope"></i>
                                                    <input type="email" class="form-control" id="inputEmail12" placeholder="Email" ng-model="credential.email" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword1" class="col-md-3 control-label">Mật khẩu</label>
                                            <div class="col-md-9">
                                                <div class="input-icon right">
                                                    <i class="fa fa-user"></i>
                                                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="credential.password" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-12">
                                                <button type="button" class="btn green" ng-disabled="!login_form.$valid" ng-click="login()">Đăng nhập</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-md-3-->
                </div>
            </div>
        </div>
    </div>
</div>